body {
    background-color: aquamarine;
}

.ucet {
    padding: 1rem 0;
    margin-bottom: 2rem;
    background-color: #264f1e;
    color: white;
}

.unread {
    color: red;
}

.no-unread {
    color: blue;
}